* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
  max-height: 100vh;
  width: 100%;
  background-color: lightgray;
}

.game {
  height:100vh ; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: 3%;
  padding: 1rem 0 0;
}
.game__header {
    text-align: center;
}

.hangman-box{
    max-height: 50%;
}
.hangman-figure {
    max-width: 100%;
    max-height: 100%;
}

.secret-word__placeholder{
    letter-spacing: 1vw;
    font-size: 2rem;
    font-weight: 600;
}

.keyboard {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 300px;
}

.keyboard__button {
        min-width: 2rem;
        width: 8vw;
        height: 2rem;
        border: 3px solid lightgray;
}


